/* Setting color variables using a two-tier system
    in this format: {
        first   == Hipster Haven
        second  == Vintage Card
    }
*/
// 1st tier: Descriptive color names
$darkPurple: #42282F;
$greyBrown: #8F747E;

$cyanGreen: #74A588;
$lightCyan: #8CBEB2;

$cream: #D6CCAD;
$lightCream: #F2EBBF;

$orangeRed: #DC9C76;
$orangeYellow: #F3B562;

$lightRed: #D6655A;
$brightRed: #F06060;

/* ======== Brighter Color Scheme ======== */
$paleCream: #FFF0A5;
$paleGreen: #468966;
$paleOrange: #FFB03B;
$paleRed: #B64926;
$darkRed: #8E2800;

/* ======== Material Design Color Scheme ======== */
$mtrTeal: #009688;
$mtrBrown: #8d6e63;
$mtrWhitesmoke: whitesmoke;
$mtrGray: #e5e5e5;
$mtrBlue: #4e6cef;
$mtrPink: #e91e63;
$mtrPinkDark: #c2185b;

/* ========================================================================== */
// 2nd tier: functional names
// Navbar/ header
$headerBackgroundColor: $mtrBlue;
$headerBorder: $mtrWhitesmoke;
$titleColor: $mtrWhitesmoke;
$navLinkColor: $mtrWhitesmoke;
$navBtnActive: $mtrWhitesmoke;
$navBtnActiveText: $mtrBlue;


// General
$backgroundColor: $mtrGray;
$textColor: rgba(black, .7);
$headingText: $mtrWhitesmoke;
$headingBackground: $mtrBlue;
$mainContentBackgroundColor: rgba($lightCream,.0);
$jumbotronText: $mtrBlue;

// Links
$linkColor: $mtrPink;
$linkVisitedColor: $mtrPinkDark;


/* ========================================================================== */
// Color and background-color classes
.color-mtrTeal { color: $mtrTeal; }
.color-mtrBrown { color: $mtrBrown; }
.color-mtrWhitesmoke { color: $mtrWhitesmoke; }
.color-mtrBlue { color: $mtrBlue; }
.bcolor-mtrTeal { background-color: $mtrTeal; }
.bcolor-mtrBrown { background-color: $mtrBrown; }
