@import "_colors";
@import "mixins-utils";

$borderColor: rgba($linkColor,.5);
$buttonsWidth: 2.5em;

.my-navbar {
    background-color: $headerBackgroundColor;
    border-color: $headerBorder;
    .my-navbar-brand-list {
      .navbar-brand {
          outline: 0;
          color: $titleColor;
          font-size: 2em;
          font-weight: 300;
          @include transition-property(background-color, color);
          @include transition-duration(.250s);
          @include transition-timing-function(ease-in-out);
          &:active, &:focus {
              color: darken($titleColor, 10%);
          }
      }
      li[class*="active"] > .navbar-brand {
        //background-color: lighten($headerBackgroundColor, 4%);
        //color: $titleColor;
        background-color: $navBtnActive;
        color: $navBtnActiveText;
        &:hover, &:active {
          background-color: lighten($headerBackgroundColor, 7%);
          color: darken($titleColor, 7%);
        }
        &:focus {
          color: $navBtnActiveText;
          background-color: whitesmoke;
          @include text-shadow(1em);
        }
      }
    }
    .navbar-toggle {
        border: 0;
        @include transition-property(background-color);
        @include transition-duration(.250s);
        @include transition-timing-function(ease-in-out);
        .icon-bar {
            background-color: $headerBorder;
        }
        &:hover {
            background-color: lighten($headerBackgroundColor, 10%);
        }
    }
    .navbar-nav > li > a {
        color: $navLinkColor;
        outline: 0;
        @include transition-property(background-color color);
        @include transition-duration(.250s);
        @include transition-timing-function(ease-in-out);
        &:hover, &:active  {
            color: lighten($navLinkColor, 6%);
            background-color: darken($headerBackgroundColor, 5%);
        }
        &:focus {
            color: $navLinkColor;
            background-color: lighten($headerBackgroundColor, 10%);
            @include text-shadow(1em);
        }
    }
    .navbar-nav > li.active > a {
        background-color: $navBtnActive;
        color: $navBtnActiveText;
        &:hover, &:active {
            color: lighten($navBtnActiveText, 6%);
            background-color: darken($navBtnActive, 3%);
        }
        &:focus {
            color: $navBtnActiveText;
            background-color: whitesmoke;
            @include text-shadow(1em);
        }
    }
}
