@import "_colors";
@import "compass";
@import "compass/typography/lists/inline-block-list";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/transition";
@import "compass/css3/background-origin";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/utilities/tables/scaffolding";
@import "mixins-utils";
@import "_header";
@import "_spacing";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: 'Open Sans', sans-serif;
}

::-moz-selection {
  color: rgba($mtrBlue, .9);
}

::selection {
  color: rgba($mtrBlue, .9);
}

.main-content {
  // max-width: 880px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  line-height: 1.6;
  background-color: $mainContentBackgroundColor;
  @include letterpress(0.2);
  @include linkStyle;
  text-align: justify;
  .proceed-arrow {
    margin-top: 35px;
    margin-bottom: 2em;
    a {
      @media(max-width: 767px) {
        font-size: 1.4em;
        padding: 0 10px;
      }
      @media(min-width: 768px) {
        font-size: 1.5em;
        padding: 0 12px;
      }
      @media(min-width: 992px) {
        font-size: 1.6em;
        padding: 0 13px;
      }
      @media(min-width: 1200px) {
        font-size: 1.7em;
        padding: 0 13px;
      }
      &:hover {
        background-color: whitesmoke;
        box-shadow: 0 0 1px $linkColor, 0px 2px 1px $mtrWhitesmoke;
        border: 1px solid $linkColor !important;
        border-top: 1px solid $linkColor !important;
        border-radius: 2px;
      }
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0 !important;
    li {
      padding-bottom: .2em;
      @media(max-width: 767px) {
      }
      @media(min-width: 768px) {
      }
      @media(min-width: 992px) {
      }
      @media(min-width: 1200px) {
      }
      span, i {
        padding-right: .4em;
      }
      .li-content {
        font-size: .75em;
      }
    }
  }
  // Responsiveness
  @media(max-width: 767px) {
    text-align: left;
    font-size: 1.7em;
    margin-top: 2.8em;
  }
  @media(min-width: 768px) {
    font-size: 1.8em;
    margin-top: 2.4em;
  }
  @media(min-width: 992px) {
    font-size: 1.9em;
    margin-top: 2em;
  }
  @media(min-width: 1200px) {
    font-size: 2em;
    margin-top: 2em;
  }
}

@media (max-width: 480px) {
  .col-xxs {
    display: block;
    float: none;
    width: 100%
  }
}

#projects-content {
  #projects-intro {
    @media(max-width: 480px) {
      font-size: .85em !important;
    }
    @media(max-width: 767px) {
      font-size: .95em !important;
    }
    @media(min-width: 768px) {
      font-size: 1em;
    }
    @media(min-width: 992px) {
      font-size: 1.06em;
    }
    @media(min-width: 1200px) {
      font-size: 1.07em;
    }
  }
}

.project-card {
  background-color: $mtrWhitesmoke;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #aaa;
  text-align: left;
  margin-top: .6em;
  @media(max-width: 767px) {
    font-size: 1em;
  }
  @media(min-width: 768px) {
  }
  @media(min-width: 992px) {
  }
  @media(min-width: 1200px) {
  }
  .project-card-title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: $mtrBlue;
    color: $mtrWhitesmoke;
    font-weight: 400;
    font-size: .85em;
    border-bottom: 1px solid #ccc;
    padding: 0 6px;
  }
  .project-card-content {
    font-size: .7em;
    padding: 0 6px;
    .goto-repo-button {
      text-align: right;
      padding-bottom: 2px;
      a {
        border: 1px solid $mtrWhitesmoke;
        border-radius: 4px;
        padding: 1px 4px;
        @include transition-property(color, border-color, background-color);
        @include transition-duration(.3s);
        @include transition-timing-function(ease-in);
      }
      a:hover {
        border: 1px solid $mtrPink;
        color: $mtrWhitesmoke;
        background-color: $mtrPink;
        text-shadow: none;
      }
      a:active {
        $active_border_color: darken($mtrPinkDark, 10%);
        border: 1px solid $active_border_color;
        color: $mtrWhitesmoke;
        background-color: $active_border_color;
      }
    }
  }
}

.abbreviation {
  background-color: rgba($mtrBrown, .8);
  color: $mtrWhitesmoke;
  padding: 0 2px;
  border-radius: 3px;
  cursor: help;
}

.follow-scroll {
  display: none;
  @include linkStyle;
  position: fixed;
  @media(min-width: 768px) {
    font-size: 2em;
    left: 92%;
  }
  @media(min-width: 992px) {
    font-size: 2em;
    left: 92%;
  }
  @media(min-width: 1100px) {
    font-size: 2em;
    left: 92%;
  }
  @media(min-width: 1150px) {
    font-size: 2em;
    left: 92%;
  }
  @media(min-width: 1200px) {
    font-size: 2em;
    left: 92%;
  }
  @media(min-width: 1400px) {
    font-size: 2em;
    left: 93%;
  }
  top: 89%;
  background-color: $mtrPink;
  box-shadow: 0 0 2px $mtrPink, 0 0 1px gray, 0 1px 3px gray;
  // border: 1px solid darken($mtrPink, 10%);
  @include transition-property(border-radius, background-color, box-shadow, border);
  @include transition-duration(.12s);
  @include transition-timing-function(ease-in-out);
  a {
    display: block;
    color: darken(whitesmoke, 4%) !important;
    i {
      padding: 0 4px 8px 4px;
      text-shadow: 0 0 3px rgba(whitesmoke, .5);
    }
  }
  &:hover {
    background-color: $mtrPinkDark;
    border-color: $mtrPinkDark;
    border-radius: 2px;
    box-shadow: 0 0 2px $mtrPink, 0 0 2px gray, 0 2px 2px gray;
    a:hover {
      text-shadow: none;
      border: none;
    }
  }
}

.follow-scroll::before {
  position: absolute;
  background-color: blue;
}

.tooltip.top .tooltip-arrow {
  border-top-color: $linkColor;
}

.tooltip.left .tooltip-arrow {
  border-left-color: $linkColor;
}

.tooltip-inner {
  background-color: $linkColor;
  font-size: 1.5em;
  color: white;
}

.my-jumbo {
  background-image: url('../images/jumbotron.png');
  margin-bottom: 0;
  // Dirty hack for avoiding the flicker of resize_jumbotron method.
  // Was, resize smaller to bigger -> flicker appeared.
  // Now, resize bigger to smaller -> flicker is off screen now.
  height: 2000px;
  @include linkStyle;
  #content {
    .welcome-msg-title {
      display: none;
      color: $jumbotronText;
      font-weight: 300;
      @media(max-width: 767px) {
        font-size: 2.5em;
      }
      @media(min-width: 768px) {
        font-size: 3em;
      }
      @media(min-width: 992px) {
        font-size: 3.5em;
      }
      @media(min-width: 1200px) {
        font-size: 4em;
      }
      @include transition-property(font-size);
      @include transition-duration(.350s);
      @include transition-timing-function(ease-in-out);
    }
    .welcome-msg {
      display: none;
      margin-top: 14px;
      @media(max-width: 767px) {
        font-size: 1.4em;
      }
      @media(min-width: 768px) {
        font-size: 1.6em;
      }
      @media(min-width: 992px) {
        font-size: 1.8em;
      }
      @media(min-width: 1200px) {
        font-size: 2em;
      }
    }
    .proceed-arrow {
      display: none;
      @media(max-height: 767px) {
        margin-top: 40px;
      }
      @media(min-height: 768px) {
        margin-top: 100px;
      }
      @media(min-height: 900px) {
        margin-top: 140px;
      }
      a {
        @media(max-width: 767px) {
          font-size: 2.8em;
          padding: 2px 11px;
        }
        @media(min-width: 768px) {
          font-size: 3em;
          padding: 2px 11px;
        }
        @media(min-width: 992px) {
          font-size: 3.3em;
          padding: 2px 13px;
        }
        @media(min-width: 1200px) {
          font-size: 3.5em;
          padding: 2px 14px;
        }
        &:hover {
          background-color: whitesmoke;
          box-shadow: 0 0 1px $linkColor, 0px 2px 1px $mtrWhitesmoke;
          border: 1px solid $linkColor !important;
          border-top: 1px solid $linkColor !important;
          border-radius: 2px;
        }
      }
    }
  }
}

.title {
  text-align: center;
  @media(max-width: 767px) {
    font-size: 1.8em;
  }
  @media(min-width: 768px) {
    font-size: 2.7em;
  }
  @media(min-width: 992px) {
    font-size: 3em;
  }
  @media(min-width: 1200px) {
    font-size: 3.3em;
  }
  @include transition-property(font-size);
  @include transition-duration(.350s);
  @include transition-timing-function(ease-in-out);
  @include letterpress(0.7);
  padding: 6px 0px;
  margin-bottom: 0.6em;
  font-weight: 300;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  word-spacing: 0.03em;
  color: $headingText;
  background-color: $headingBackground;
}

#contact-content {
  // Responsiveness
  @media(max-width: 767px) {
    text-align: left;
    font-size: 1.7em;
  }
  @media(min-width: 768px) {
    font-size: 1.8em;
  }
  @media(min-width: 992px) {
    font-size: 1.9em;
  }
  @media(min-width: 1200px) {
    font-size: 2em;
  }
  font-weight: 300;
  .email-info {
    color: $mtrWhitesmoke;
    background-color: lighten($mtrBlue, 2%);
    padding: 0 3px;
    border-radius: 3px;
  }
  #email-dot {
    font-size: .4em;
    padding: 0 3px;
  }
  .reach-me-here {
    a {
      padding: 3px 17px;
      @media(max-width: 767px) {
        font-size: 2em;
      }
      @media(min-width: 768px) {
        font-size: 2.125em;
      }
      @media(min-width: 992px) {
        font-size: 2.17em;
      }
      @media(min-width: 1200px) {
        font-size: 2.2em;
      }

      $btn-color: rgba($linkColor, .9);
      $btn-hover: rgba($btn-color, .7);
      background-color: $backgroundColor;
      color: lighten($btn-color, 1%);
      border-radius: 50px;
      border: 1px solid $backgroundColor;
      @include transition-property(border-radius, background-color, border-color, color);
      @include transition-duration(.2s, .25s, .4s, .34s);
      @include transition-timing-function(ease-in-out);
      transform: translateZ(0);
      &:hover {
        color: whitesmoke;
        background-color: $btn-hover;
        border-color: darken($btn-hover, 12%);
        border-radius: 2px;
        @include iconShadow(white, 0);
      }
      &:active, &:focus {
        @include transition-property(background-color, color);
        @include transition-duration(.1s);
        @include transition-timing-function(ease-in-out);
        background-color: darken($btn-hover, 8%);
        color: lighten($btn-color, 40%);
      }
    }
  }
}

.footer {
  text-align: center;
  padding: 2px;
  background-color: $mtrBlue;
  color: $mtrWhitesmoke;
  @media(max-width: 767px) {
    font-size: 1.2em;
  }
  @media(min-width: 768px) {
    font-size: 1.3em;
  }
  @media(min-width: 992px) {
    font-size: 1.4em;
  }
  @media(min-width: 1200px) {
    font-size: 1.5em;
  }
}
