

/* My functions */
@function black($opacity){
    @return rgba(0,0,0,$opacity)
}
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}
/* My mixins */
@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}

@mixin shadow3d($color)  {
    @include text-shadow(   rgba($color, 0.9) 1px 0px 0px,
                                            rgba($color, 1) 1px 1px 1px );
}

@function borderProps($color, $opacity){
    @return rgba($color, $opacity)
}

@mixin iconShadow($color, $opacity)
{
    @include text-shadow(   rgba($color, $opacity) 1px 1px 1px );
}

@mixin linkStyle {
     a {
        font-weight: 400;
        border-color: rgba(1,1,1,0);
        padding: 0 .125em;
        @include transition-property(border-color);
        @include transition-duration(.4s);
        @include transition-timing-function(ease-in-out);
        outline: 0;
    }
    a:link {
        text-decoration: none;
        color: $linkColor;
    }
    a:visited {
        text-decoration: none;
        color: $linkVisitedColor;
    }
    a:hover, a:active {
        @include letterpress(.9em);
        border-bottom: 1px solid $linkColor;
    }
    a:visited:hover {
        @include letterpress(.9em);
        border-bottom: 1px solid $linkVisitedColor;
    }
}

.textAlignLeft {
  text-align: left;
}

.textAlignRight {
  text-align: right;
}

.navBarActive > a {
  background-color: $navBtnActive;
  color: $navBtnActiveText;
  &:hover, &:active {
    color: lighten($navBtnActiveText, 6%);
    background-color: darken($navBtnActive, 3%);
  }
  &:focus {
    color: $navBtnActiveText;
    background-color: whitesmoke;
    @include text-shadow(1em);
  }
}