// Spacing
.top1 { margin-top:1px; }
.top3 { margin-top:3px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top40 { margin-top:40px; }
.top50 { margin-top:50px; }
.top60 { margin-top:60px; }
.top70 { margin-top:70px; }

.tope2 { margin-top: 2em; }
.tope3 { margin-top: 3em; }
.tope5 { margin-top:5em; }
.tope10 { margin-top:10em; }
.bottome1 { margin-bottom:1em; }
.bottome3 { margin-bottom:3.1em; }
.bottome5 { margin-bottom:5em; }
.bottome10 { margin-bottom:10em; }
.bottome12 { margin-bottom:12em; }

.bottom1 { margin-bottom:1px; }
.bottom3 { margin-bottom:3px; }
.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }

.marginLeft1 { margin-left: 1px; }
.marginLeft3 { margin-left: 3px; }
.marginLeft5 { margin-left: 5px; }
.marginLeft7 { margin-left: 7px; }
.marginLeft10 { margin-left: 10px; }
.marginLeft15 { margin-left: 15px; }
.marginLeft17 { margin-left: 17px; }
.marginLeft25 { margin-left: 25px; }
.marginLeft30 { margin-left: 30px; }
.marginLeft39 { margin-left: 39px; }
