/* Setting color variables using a two-tier system
    in this format: {
        first   == Hipster Haven
        second  == Vintage Card 
    }
*/
/* ======== Brighter Color Scheme ======== */
/* ========================================================================== */
