/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* Setting color variables using a two-tier system
    in this format: {
        first   == Hipster Haven
        second  == Vintage Card
    }
*/
/* ======== Brighter Color Scheme ======== */
/* ======== Material Design Color Scheme ======== */
/* ========================================================================== */
/* ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* line 65, ../scss/_colors.scss */
.color-mtrTeal {
  color: #009688;
}

/* line 66, ../scss/_colors.scss */
.color-mtrBrown {
  color: #8d6e63;
}

/* line 67, ../scss/_colors.scss */
.color-mtrWhitesmoke {
  color: whitesmoke;
}

/* line 68, ../scss/_colors.scss */
.color-mtrBlue {
  color: #4e6cef;
}

/* line 69, ../scss/_colors.scss */
.bcolor-mtrTeal {
  background-color: #009688;
}

/* line 70, ../scss/_colors.scss */
.bcolor-mtrBrown {
  background-color: #8d6e63;
}

/* My functions */
/* My mixins */
/* line 57, ../scss/_mixins-utils.scss */
.textAlignLeft {
  text-align: left;
}

/* line 61, ../scss/_mixins-utils.scss */
.textAlignRight {
  text-align: right;
}

/* line 65, ../scss/_mixins-utils.scss */
.navBarActive > a {
  background-color: whitesmoke;
  color: #4e6cef;
}
/* line 68, ../scss/_mixins-utils.scss */
.navBarActive > a:hover, .navBarActive > a:active {
  color: #6a83f2;
  background-color: #ededed;
}
/* line 72, ../scss/_mixins-utils.scss */
.navBarActive > a:focus {
  color: #4e6cef;
  background-color: whitesmoke;
  text-shadow: 1em;
}

/* Setting color variables using a two-tier system
    in this format: {
        first   == Hipster Haven
        second  == Vintage Card
    }
*/
/* ======== Brighter Color Scheme ======== */
/* ======== Material Design Color Scheme ======== */
/* ========================================================================== */
/* ========================================================================== */
/* line 65, ../scss/_colors.scss */
.color-mtrTeal {
  color: #009688;
}

/* line 66, ../scss/_colors.scss */
.color-mtrBrown {
  color: #8d6e63;
}

/* line 67, ../scss/_colors.scss */
.color-mtrWhitesmoke {
  color: whitesmoke;
}

/* line 68, ../scss/_colors.scss */
.color-mtrBlue {
  color: #4e6cef;
}

/* line 69, ../scss/_colors.scss */
.bcolor-mtrTeal {
  background-color: #009688;
}

/* line 70, ../scss/_colors.scss */
.bcolor-mtrBrown {
  background-color: #8d6e63;
}

/* My functions */
/* My mixins */
/* line 57, ../scss/_mixins-utils.scss */
.textAlignLeft {
  text-align: left;
}

/* line 61, ../scss/_mixins-utils.scss */
.textAlignRight {
  text-align: right;
}

/* line 65, ../scss/_mixins-utils.scss */
.navBarActive > a {
  background-color: whitesmoke;
  color: #4e6cef;
}
/* line 68, ../scss/_mixins-utils.scss */
.navBarActive > a:hover, .navBarActive > a:active {
  color: #6a83f2;
  background-color: #ededed;
}
/* line 72, ../scss/_mixins-utils.scss */
.navBarActive > a:focus {
  color: #4e6cef;
  background-color: whitesmoke;
  text-shadow: 1em;
}

/* line 7, ../scss/_header.scss */
.my-navbar {
  background-color: #4e6cef;
  border-color: whitesmoke;
}
/* line 11, ../scss/_header.scss */
.my-navbar .my-navbar-brand-list .navbar-brand {
  outline: 0;
  color: whitesmoke;
  font-size: 2em;
  font-weight: 300;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 19, ../scss/_header.scss */
.my-navbar .my-navbar-brand-list .navbar-brand:active, .my-navbar .my-navbar-brand-list .navbar-brand:focus {
  color: gainsboro;
}
/* line 23, ../scss/_header.scss */
.my-navbar .my-navbar-brand-list li[class*="active"] > .navbar-brand {
  background-color: whitesmoke;
  color: #4e6cef;
}
/* line 28, ../scss/_header.scss */
.my-navbar .my-navbar-brand-list li[class*="active"] > .navbar-brand:hover, .my-navbar .my-navbar-brand-list li[class*="active"] > .navbar-brand:active {
  background-color: #6f87f2;
  color: #e3e3e3;
}
/* line 32, ../scss/_header.scss */
.my-navbar .my-navbar-brand-list li[class*="active"] > .navbar-brand:focus {
  color: #4e6cef;
  background-color: whitesmoke;
  text-shadow: 1em;
}
/* line 39, ../scss/_header.scss */
.my-navbar .navbar-toggle {
  border: 0;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 44, ../scss/_header.scss */
.my-navbar .navbar-toggle .icon-bar {
  background-color: whitesmoke;
}
/* line 47, ../scss/_header.scss */
.my-navbar .navbar-toggle:hover {
  background-color: #7d93f3;
}
/* line 51, ../scss/_header.scss */
.my-navbar .navbar-nav > li > a {
  color: whitesmoke;
  outline: 0;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 57, ../scss/_header.scss */
.my-navbar .navbar-nav > li > a:hover, .my-navbar .navbar-nav > li > a:active {
  color: white;
  background-color: #3759ed;
}
/* line 61, ../scss/_header.scss */
.my-navbar .navbar-nav > li > a:focus {
  color: whitesmoke;
  background-color: #7d93f3;
  text-shadow: 1em;
}
/* line 67, ../scss/_header.scss */
.my-navbar .navbar-nav > li.active > a {
  background-color: whitesmoke;
  color: #4e6cef;
}
/* line 70, ../scss/_header.scss */
.my-navbar .navbar-nav > li.active > a:hover, .my-navbar .navbar-nav > li.active > a:active {
  color: #6a83f2;
  background-color: #ededed;
}
/* line 74, ../scss/_header.scss */
.my-navbar .navbar-nav > li.active > a:focus {
  color: #4e6cef;
  background-color: whitesmoke;
  text-shadow: 1em;
}

/* line 2, ../scss/_spacing.scss */
.top1 {
  margin-top: 1px;
}

/* line 3, ../scss/_spacing.scss */
.top3 {
  margin-top: 3px;
}

/* line 4, ../scss/_spacing.scss */
.top5 {
  margin-top: 5px;
}

/* line 5, ../scss/_spacing.scss */
.top7 {
  margin-top: 7px;
}

/* line 6, ../scss/_spacing.scss */
.top10 {
  margin-top: 10px;
}

/* line 7, ../scss/_spacing.scss */
.top15 {
  margin-top: 15px;
}

/* line 8, ../scss/_spacing.scss */
.top17 {
  margin-top: 17px;
}

/* line 9, ../scss/_spacing.scss */
.top25 {
  margin-top: 25px;
}

/* line 10, ../scss/_spacing.scss */
.top30 {
  margin-top: 30px;
}

/* line 11, ../scss/_spacing.scss */
.top40 {
  margin-top: 40px;
}

/* line 12, ../scss/_spacing.scss */
.top50 {
  margin-top: 50px;
}

/* line 13, ../scss/_spacing.scss */
.top60 {
  margin-top: 60px;
}

/* line 14, ../scss/_spacing.scss */
.top70 {
  margin-top: 70px;
}

/* line 16, ../scss/_spacing.scss */
.tope2 {
  margin-top: 2em;
}

/* line 17, ../scss/_spacing.scss */
.tope3 {
  margin-top: 3em;
}

/* line 18, ../scss/_spacing.scss */
.tope5 {
  margin-top: 5em;
}

/* line 19, ../scss/_spacing.scss */
.tope10 {
  margin-top: 10em;
}

/* line 20, ../scss/_spacing.scss */
.bottome1 {
  margin-bottom: 1em;
}

/* line 21, ../scss/_spacing.scss */
.bottome3 {
  margin-bottom: 3.1em;
}

/* line 22, ../scss/_spacing.scss */
.bottome5 {
  margin-bottom: 5em;
}

/* line 23, ../scss/_spacing.scss */
.bottome10 {
  margin-bottom: 10em;
}

/* line 24, ../scss/_spacing.scss */
.bottome12 {
  margin-bottom: 12em;
}

/* line 26, ../scss/_spacing.scss */
.bottom1 {
  margin-bottom: 1px;
}

/* line 27, ../scss/_spacing.scss */
.bottom3 {
  margin-bottom: 3px;
}

/* line 28, ../scss/_spacing.scss */
.bottom5 {
  margin-bottom: 5px;
}

/* line 29, ../scss/_spacing.scss */
.bottom7 {
  margin-bottom: 7px;
}

/* line 30, ../scss/_spacing.scss */
.bottom10 {
  margin-bottom: 10px;
}

/* line 31, ../scss/_spacing.scss */
.bottom15 {
  margin-bottom: 15px;
}

/* line 32, ../scss/_spacing.scss */
.bottom17 {
  margin-bottom: 17px;
}

/* line 33, ../scss/_spacing.scss */
.bottom25 {
  margin-bottom: 25px;
}

/* line 34, ../scss/_spacing.scss */
.bottom30 {
  margin-bottom: 30px;
}

/* line 36, ../scss/_spacing.scss */
.marginLeft1 {
  margin-left: 1px;
}

/* line 37, ../scss/_spacing.scss */
.marginLeft3 {
  margin-left: 3px;
}

/* line 38, ../scss/_spacing.scss */
.marginLeft5 {
  margin-left: 5px;
}

/* line 39, ../scss/_spacing.scss */
.marginLeft7 {
  margin-left: 7px;
}

/* line 40, ../scss/_spacing.scss */
.marginLeft10 {
  margin-left: 10px;
}

/* line 41, ../scss/_spacing.scss */
.marginLeft15 {
  margin-left: 15px;
}

/* line 42, ../scss/_spacing.scss */
.marginLeft17 {
  margin-left: 17px;
}

/* line 43, ../scss/_spacing.scss */
.marginLeft25 {
  margin-left: 25px;
}

/* line 44, ../scss/_spacing.scss */
.marginLeft30 {
  margin-left: 30px;
}

/* line 45, ../scss/_spacing.scss */
.marginLeft39 {
  margin-left: 39px;
}

/* line 16, ../scss/_mine.scss */
body {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Open Sans', sans-serif;
}

/* line 22, ../scss/_mine.scss */
::-moz-selection {
  color: rgba(78, 108, 239, 0.9);
}

/* line 26, ../scss/_mine.scss */
::selection {
  color: rgba(78, 108, 239, 0.9);
}

/* line 30, ../scss/_mine.scss */
.main-content {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  line-height: 1.6;
  background-color: rgba(242, 235, 191, 0);
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
  text-align: justify;
}
/* line 30, ../scss/_mixins-utils.scss */
.main-content a {
  font-weight: 400;
  border-color: rgba(1, 1, 1, 0);
  padding: 0 .125em;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  outline: 0;
}
/* line 39, ../scss/_mixins-utils.scss */
.main-content a:link {
  text-decoration: none;
  color: #e91e63;
}
/* line 43, ../scss/_mixins-utils.scss */
.main-content a:visited {
  text-decoration: none;
  color: #c2185b;
}
/* line 47, ../scss/_mixins-utils.scss */
.main-content a:hover, .main-content a:active {
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  border-bottom: 1px solid #e91e63;
}
/* line 51, ../scss/_mixins-utils.scss */
.main-content a:visited:hover {
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  border-bottom: 1px solid #c2185b;
}
/* line 40, ../scss/_mine.scss */
.main-content .proceed-arrow {
  margin-top: 35px;
  margin-bottom: 2em;
}
@media (max-width: 767px) {
  /* line 43, ../scss/_mine.scss */
  .main-content .proceed-arrow a {
    font-size: 1.4em;
    padding: 0 10px;
  }
}
@media (min-width: 768px) {
  /* line 43, ../scss/_mine.scss */
  .main-content .proceed-arrow a {
    font-size: 1.5em;
    padding: 0 12px;
  }
}
@media (min-width: 992px) {
  /* line 43, ../scss/_mine.scss */
  .main-content .proceed-arrow a {
    font-size: 1.6em;
    padding: 0 13px;
  }
}
@media (min-width: 1200px) {
  /* line 43, ../scss/_mine.scss */
  .main-content .proceed-arrow a {
    font-size: 1.7em;
    padding: 0 13px;
  }
}
/* line 60, ../scss/_mine.scss */
.main-content .proceed-arrow a:hover {
  background-color: whitesmoke;
  box-shadow: 0 0 1px #e91e63, 0px 2px 1px whitesmoke;
  border: 1px solid #e91e63 !important;
  border-top: 1px solid #e91e63 !important;
  border-radius: 2px;
}
/* line 69, ../scss/_mine.scss */
.main-content ul {
  list-style-type: none;
  padding-left: 0 !important;
}
/* line 72, ../scss/_mine.scss */
.main-content ul li {
  padding-bottom: .2em;
}
/* line 82, ../scss/_mine.scss */
.main-content ul li span, .main-content ul li i {
  padding-right: .4em;
}
/* line 85, ../scss/_mine.scss */
.main-content ul li .li-content {
  font-size: .75em;
}
@media (max-width: 767px) {
  /* line 30, ../scss/_mine.scss */
  .main-content {
    text-align: left;
    font-size: 1.7em;
    margin-top: 2.8em;
  }
}
@media (min-width: 768px) {
  /* line 30, ../scss/_mine.scss */
  .main-content {
    font-size: 1.8em;
    margin-top: 2.4em;
  }
}
@media (min-width: 992px) {
  /* line 30, ../scss/_mine.scss */
  .main-content {
    font-size: 1.9em;
    margin-top: 2em;
  }
}
@media (min-width: 1200px) {
  /* line 30, ../scss/_mine.scss */
  .main-content {
    font-size: 2em;
    margin-top: 2em;
  }
}

@media (max-width: 480px) {
  /* line 111, ../scss/_mine.scss */
  .col-xxs {
    display: block;
    float: none;
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 119, ../scss/_mine.scss */
  #projects-content #projects-intro {
    font-size: .85em !important;
  }
}
@media (max-width: 767px) {
  /* line 119, ../scss/_mine.scss */
  #projects-content #projects-intro {
    font-size: .95em !important;
  }
}
@media (min-width: 768px) {
  /* line 119, ../scss/_mine.scss */
  #projects-content #projects-intro {
    font-size: 1em;
  }
}
@media (min-width: 992px) {
  /* line 119, ../scss/_mine.scss */
  #projects-content #projects-intro {
    font-size: 1.06em;
  }
}
@media (min-width: 1200px) {
  /* line 119, ../scss/_mine.scss */
  #projects-content #projects-intro {
    font-size: 1.07em;
  }
}

/* line 138, ../scss/_mine.scss */
.project-card {
  background-color: whitesmoke;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #aaa;
  text-align: left;
  margin-top: .6em;
}
@media (max-width: 767px) {
  /* line 138, ../scss/_mine.scss */
  .project-card {
    font-size: 1em;
  }
}
/* line 153, ../scss/_mine.scss */
.project-card .project-card-title {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #4e6cef;
  color: whitesmoke;
  font-weight: 400;
  font-size: .85em;
  border-bottom: 1px solid #ccc;
  padding: 0 6px;
}
/* line 163, ../scss/_mine.scss */
.project-card .project-card-content {
  font-size: .7em;
  padding: 0 6px;
}
/* line 166, ../scss/_mine.scss */
.project-card .project-card-content .goto-repo-button {
  text-align: right;
  padding-bottom: 2px;
}
/* line 169, ../scss/_mine.scss */
.project-card .project-card-content .goto-repo-button a {
  border: 1px solid whitesmoke;
  border-radius: 4px;
  padding: 1px 4px;
  -webkit-transition-property: color, border-color, background-color;
  -moz-transition-property: color, border-color, background-color;
  -o-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 177, ../scss/_mine.scss */
.project-card .project-card-content .goto-repo-button a:hover {
  border: 1px solid #e91e63;
  color: whitesmoke;
  background-color: #e91e63;
  text-shadow: none;
}
/* line 183, ../scss/_mine.scss */
.project-card .project-card-content .goto-repo-button a:active {
  border: 1px solid #951246;
  color: whitesmoke;
  background-color: #951246;
}

/* line 193, ../scss/_mine.scss */
.abbreviation {
  background-color: rgba(141, 110, 99, 0.8);
  color: whitesmoke;
  padding: 0 2px;
  border-radius: 3px;
  cursor: help;
}

/* line 201, ../scss/_mine.scss */
.follow-scroll {
  display: none;
  position: fixed;
  top: 89%;
  background-color: #e91e63;
  box-shadow: 0 0 2px #e91e63, 0 0 1px gray, 0 1px 3px gray;
  -webkit-transition-property: border-radius, background-color, box-shadow, border;
  -moz-transition-property: border-radius, background-color, box-shadow, border;
  -o-transition-property: border-radius, background-color, box-shadow, border;
  transition-property: border-radius, background-color, box-shadow, border;
  -webkit-transition-duration: 0.12s;
  -moz-transition-duration: 0.12s;
  -o-transition-duration: 0.12s;
  transition-duration: 0.12s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 30, ../scss/_mixins-utils.scss */
.follow-scroll a {
  font-weight: 400;
  border-color: rgba(1, 1, 1, 0);
  padding: 0 .125em;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  outline: 0;
}
/* line 39, ../scss/_mixins-utils.scss */
.follow-scroll a:link {
  text-decoration: none;
  color: #e91e63;
}
/* line 43, ../scss/_mixins-utils.scss */
.follow-scroll a:visited {
  text-decoration: none;
  color: #c2185b;
}
/* line 47, ../scss/_mixins-utils.scss */
.follow-scroll a:hover, .follow-scroll a:active {
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  border-bottom: 1px solid #e91e63;
}
/* line 51, ../scss/_mixins-utils.scss */
.follow-scroll a:visited:hover {
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  border-bottom: 1px solid #c2185b;
}
@media (min-width: 768px) {
  /* line 201, ../scss/_mine.scss */
  .follow-scroll {
    font-size: 2em;
    left: 92%;
  }
}
@media (min-width: 992px) {
  /* line 201, ../scss/_mine.scss */
  .follow-scroll {
    font-size: 2em;
    left: 92%;
  }
}
@media (min-width: 1100px) {
  /* line 201, ../scss/_mine.scss */
  .follow-scroll {
    font-size: 2em;
    left: 92%;
  }
}
@media (min-width: 1150px) {
  /* line 201, ../scss/_mine.scss */
  .follow-scroll {
    font-size: 2em;
    left: 92%;
  }
}
@media (min-width: 1200px) {
  /* line 201, ../scss/_mine.scss */
  .follow-scroll {
    font-size: 2em;
    left: 92%;
  }
}
@media (min-width: 1400px) {
  /* line 201, ../scss/_mine.scss */
  .follow-scroll {
    font-size: 2em;
    left: 93%;
  }
}
/* line 236, ../scss/_mine.scss */
.follow-scroll a {
  display: block;
  color: #ebebeb !important;
}
/* line 239, ../scss/_mine.scss */
.follow-scroll a i {
  padding: 0 4px 8px 4px;
  text-shadow: 0 0 3px rgba(245, 245, 245, 0.5);
}
/* line 244, ../scss/_mine.scss */
.follow-scroll:hover {
  background-color: #c2185b;
  border-color: #c2185b;
  border-radius: 2px;
  box-shadow: 0 0 2px #e91e63, 0 0 2px gray, 0 2px 2px gray;
}
/* line 249, ../scss/_mine.scss */
.follow-scroll:hover a:hover {
  text-shadow: none;
  border: none;
}

/* line 256, ../scss/_mine.scss */
.follow-scroll::before {
  position: absolute;
  background-color: blue;
}

/* line 261, ../scss/_mine.scss */
.tooltip.top .tooltip-arrow {
  border-top-color: #e91e63;
}

/* line 265, ../scss/_mine.scss */
.tooltip.left .tooltip-arrow {
  border-left-color: #e91e63;
}

/* line 269, ../scss/_mine.scss */
.tooltip-inner {
  background-color: #e91e63;
  font-size: 1.5em;
  color: white;
}

/* line 275, ../scss/_mine.scss */
.my-jumbo {
  background-image: url("../images/jumbotron.png");
  margin-bottom: 0;
  height: 2000px;
}
/* line 30, ../scss/_mixins-utils.scss */
.my-jumbo a {
  font-weight: 400;
  border-color: rgba(1, 1, 1, 0);
  padding: 0 .125em;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  outline: 0;
}
/* line 39, ../scss/_mixins-utils.scss */
.my-jumbo a:link {
  text-decoration: none;
  color: #e91e63;
}
/* line 43, ../scss/_mixins-utils.scss */
.my-jumbo a:visited {
  text-decoration: none;
  color: #c2185b;
}
/* line 47, ../scss/_mixins-utils.scss */
.my-jumbo a:hover, .my-jumbo a:active {
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  border-bottom: 1px solid #e91e63;
}
/* line 51, ../scss/_mixins-utils.scss */
.my-jumbo a:visited:hover {
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  border-bottom: 1px solid #c2185b;
}
/* line 284, ../scss/_mine.scss */
.my-jumbo #content .welcome-msg-title {
  display: none;
  color: #4e6cef;
  font-weight: 300;
  -webkit-transition-property: font-size;
  -moz-transition-property: font-size;
  -o-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@media (max-width: 767px) {
  /* line 284, ../scss/_mine.scss */
  .my-jumbo #content .welcome-msg-title {
    font-size: 2.5em;
  }
}
@media (min-width: 768px) {
  /* line 284, ../scss/_mine.scss */
  .my-jumbo #content .welcome-msg-title {
    font-size: 3em;
  }
}
@media (min-width: 992px) {
  /* line 284, ../scss/_mine.scss */
  .my-jumbo #content .welcome-msg-title {
    font-size: 3.5em;
  }
}
@media (min-width: 1200px) {
  /* line 284, ../scss/_mine.scss */
  .my-jumbo #content .welcome-msg-title {
    font-size: 4em;
  }
}
/* line 304, ../scss/_mine.scss */
.my-jumbo #content .welcome-msg {
  display: none;
  margin-top: 14px;
}
@media (max-width: 767px) {
  /* line 304, ../scss/_mine.scss */
  .my-jumbo #content .welcome-msg {
    font-size: 1.4em;
  }
}
@media (min-width: 768px) {
  /* line 304, ../scss/_mine.scss */
  .my-jumbo #content .welcome-msg {
    font-size: 1.6em;
  }
}
@media (min-width: 992px) {
  /* line 304, ../scss/_mine.scss */
  .my-jumbo #content .welcome-msg {
    font-size: 1.8em;
  }
}
@media (min-width: 1200px) {
  /* line 304, ../scss/_mine.scss */
  .my-jumbo #content .welcome-msg {
    font-size: 2em;
  }
}
/* line 320, ../scss/_mine.scss */
.my-jumbo #content .proceed-arrow {
  display: none;
}
@media (max-height: 767px) {
  /* line 320, ../scss/_mine.scss */
  .my-jumbo #content .proceed-arrow {
    margin-top: 40px;
  }
}
@media (min-height: 768px) {
  /* line 320, ../scss/_mine.scss */
  .my-jumbo #content .proceed-arrow {
    margin-top: 100px;
  }
}
@media (min-height: 900px) {
  /* line 320, ../scss/_mine.scss */
  .my-jumbo #content .proceed-arrow {
    margin-top: 140px;
  }
}
@media (max-width: 767px) {
  /* line 331, ../scss/_mine.scss */
  .my-jumbo #content .proceed-arrow a {
    font-size: 2.8em;
    padding: 2px 11px;
  }
}
@media (min-width: 768px) {
  /* line 331, ../scss/_mine.scss */
  .my-jumbo #content .proceed-arrow a {
    font-size: 3em;
    padding: 2px 11px;
  }
}
@media (min-width: 992px) {
  /* line 331, ../scss/_mine.scss */
  .my-jumbo #content .proceed-arrow a {
    font-size: 3.3em;
    padding: 2px 13px;
  }
}
@media (min-width: 1200px) {
  /* line 331, ../scss/_mine.scss */
  .my-jumbo #content .proceed-arrow a {
    font-size: 3.5em;
    padding: 2px 14px;
  }
}
/* line 348, ../scss/_mine.scss */
.my-jumbo #content .proceed-arrow a:hover {
  background-color: whitesmoke;
  box-shadow: 0 0 1px #e91e63, 0px 2px 1px whitesmoke;
  border: 1px solid #e91e63 !important;
  border-top: 1px solid #e91e63 !important;
  border-radius: 2px;
}

/* line 360, ../scss/_mine.scss */
.title {
  text-align: center;
  -webkit-transition-property: font-size;
  -moz-transition-property: font-size;
  -o-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
  padding: 6px 0px;
  margin-bottom: 0.6em;
  font-weight: 300;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  word-spacing: 0.03em;
  color: whitesmoke;
  background-color: #4e6cef;
}
@media (max-width: 767px) {
  /* line 360, ../scss/_mine.scss */
  .title {
    font-size: 1.8em;
  }
}
@media (min-width: 768px) {
  /* line 360, ../scss/_mine.scss */
  .title {
    font-size: 2.7em;
  }
}
@media (min-width: 992px) {
  /* line 360, ../scss/_mine.scss */
  .title {
    font-size: 3em;
  }
}
@media (min-width: 1200px) {
  /* line 360, ../scss/_mine.scss */
  .title {
    font-size: 3.3em;
  }
}

/* line 387, ../scss/_mine.scss */
#contact-content {
  font-weight: 300;
}
@media (max-width: 767px) {
  /* line 387, ../scss/_mine.scss */
  #contact-content {
    text-align: left;
    font-size: 1.7em;
  }
}
@media (min-width: 768px) {
  /* line 387, ../scss/_mine.scss */
  #contact-content {
    font-size: 1.8em;
  }
}
@media (min-width: 992px) {
  /* line 387, ../scss/_mine.scss */
  #contact-content {
    font-size: 1.9em;
  }
}
@media (min-width: 1200px) {
  /* line 387, ../scss/_mine.scss */
  #contact-content {
    font-size: 2em;
  }
}
/* line 403, ../scss/_mine.scss */
#contact-content .email-info {
  color: whitesmoke;
  background-color: #5774f0;
  padding: 0 3px;
  border-radius: 3px;
}
/* line 409, ../scss/_mine.scss */
#contact-content #email-dot {
  font-size: .4em;
  padding: 0 3px;
}
/* line 414, ../scss/_mine.scss */
#contact-content .reach-me-here a {
  padding: 3px 17px;
  background-color: #e5e5e5;
  color: rgba(233, 35, 102, 0.9);
  border-radius: 50px;
  border: 1px solid #e5e5e5;
  -webkit-transition-property: border-radius, background-color, border-color, color;
  -moz-transition-property: border-radius, background-color, border-color, color;
  -o-transition-property: border-radius, background-color, border-color, color;
  transition-property: border-radius, background-color, border-color, color;
  -webkit-transition-duration: 0.2s, 0.25s, 0.4s, 0.34s;
  -moz-transition-duration: 0.2s, 0.25s, 0.4s, 0.34s;
  -o-transition-duration: 0.2s, 0.25s, 0.4s, 0.34s;
  transition-duration: 0.2s, 0.25s, 0.4s, 0.34s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  transform: translateZ(0);
}
@media (max-width: 767px) {
  /* line 414, ../scss/_mine.scss */
  #contact-content .reach-me-here a {
    font-size: 2em;
  }
}
@media (min-width: 768px) {
  /* line 414, ../scss/_mine.scss */
  #contact-content .reach-me-here a {
    font-size: 2.125em;
  }
}
@media (min-width: 992px) {
  /* line 414, ../scss/_mine.scss */
  #contact-content .reach-me-here a {
    font-size: 2.17em;
  }
}
@media (min-width: 1200px) {
  /* line 414, ../scss/_mine.scss */
  #contact-content .reach-me-here a {
    font-size: 2.2em;
  }
}
/* line 439, ../scss/_mine.scss */
#contact-content .reach-me-here a:hover {
  color: whitesmoke;
  background-color: rgba(233, 30, 99, 0.7);
  border-color: rgba(184, 18, 74, 0.7);
  border-radius: 2px;
  text-shadow: rgba(255, 255, 255, 0) 1px 1px 1px;
}
/* line 446, ../scss/_mine.scss */
#contact-content .reach-me-here a:active, #contact-content .reach-me-here a:focus {
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: rgba(202, 20, 82, 0.7);
  color: rgba(251, 216, 228, 0.9);
}

/* line 457, ../scss/_mine.scss */
.footer {
  text-align: center;
  padding: 2px;
  background-color: #4e6cef;
  color: whitesmoke;
}
@media (max-width: 767px) {
  /* line 457, ../scss/_mine.scss */
  .footer {
    font-size: 1.2em;
  }
}
@media (min-width: 768px) {
  /* line 457, ../scss/_mine.scss */
  .footer {
    font-size: 1.3em;
  }
}
@media (min-width: 992px) {
  /* line 457, ../scss/_mine.scss */
  .footer {
    font-size: 1.4em;
  }
}
@media (min-width: 1200px) {
  /* line 457, ../scss/_mine.scss */
  .footer {
    font-size: 1.5em;
  }
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 18, ../scss/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 22, ../scss/main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 33, ../scss/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 38, ../scss/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 47, ../scss/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 64, ../scss/main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 72, ../scss/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 82, ../scss/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 90, ../scss/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 100, ../scss/main.scss */
body {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Open Sans', sans-serif;
}

/* line 106, ../scss/main.scss */
::-moz-selection {
  color: rgba(78, 108, 239, 0.9);
}

/* line 110, ../scss/main.scss */
::selection {
  color: rgba(78, 108, 239, 0.9);
}

/* line 115, ../scss/main.scss */
.top1 {
  margin-top: 1px;
}

/* line 116, ../scss/main.scss */
.top3 {
  margin-top: 3px;
}

/* line 117, ../scss/main.scss */
.top5 {
  margin-top: 5px;
}

/* line 118, ../scss/main.scss */
.top7 {
  margin-top: 7px;
}

/* line 119, ../scss/main.scss */
.top10 {
  margin-top: 10px;
}

/* line 120, ../scss/main.scss */
.top15 {
  margin-top: 15px;
}

/* line 121, ../scss/main.scss */
.top17 {
  margin-top: 17px;
}

/* line 122, ../scss/main.scss */
.top25 {
  margin-top: 25px;
}

/* line 123, ../scss/main.scss */
.top30 {
  margin-top: 30px;
}

/* line 124, ../scss/main.scss */
.top40 {
  margin-top: 40px;
}

/* line 125, ../scss/main.scss */
.top50 {
  margin-top: 50px;
}

/* line 127, ../scss/main.scss */
.tope5 {
  margin-top: 5em;
}

/* line 128, ../scss/main.scss */
.tope10 {
  margin-top: 10em;
}

/* line 129, ../scss/main.scss */
.bottome1 {
  margin-bottom: 1em;
}

/* line 130, ../scss/main.scss */
.bottome3 {
  margin-bottom: 3.1em;
}

/* line 131, ../scss/main.scss */
.bottome5 {
  margin-bottom: 5em;
}

/* line 132, ../scss/main.scss */
.bottome10 {
  margin-bottom: 10em;
}

/* line 133, ../scss/main.scss */
.bottome12 {
  margin-bottom: 12em;
}

/* line 136, ../scss/main.scss */
.bottom1 {
  margin-bottom: 1px;
}

/* line 137, ../scss/main.scss */
.bottom3 {
  margin-bottom: 3px;
}

/* line 138, ../scss/main.scss */
.bottom5 {
  margin-bottom: 5px;
}

/* line 139, ../scss/main.scss */
.bottom7 {
  margin-bottom: 7px;
}

/* line 140, ../scss/main.scss */
.bottom10 {
  margin-bottom: 10px;
}

/* line 141, ../scss/main.scss */
.bottom15 {
  margin-bottom: 15px;
}

/* line 142, ../scss/main.scss */
.bottom17 {
  margin-bottom: 17px;
}

/* line 143, ../scss/main.scss */
.bottom25 {
  margin-bottom: 25px;
}

/* line 144, ../scss/main.scss */
.bottom30 {
  margin-bottom: 30px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 154, ../scss/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 162, ../scss/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 173, ../scss/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 182, ../scss/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 199, ../scss/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 212, ../scss/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 229, ../scss/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 234, ../scss/main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 243, ../scss/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 270, ../scss/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 278, ../scss/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 282, ../scss/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 286, ../scss/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 296, ../scss/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 301, ../scss/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 306, ../scss/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 311, ../scss/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 315, ../scss/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 325, ../scss/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 331, ../scss/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
